*{
    box-sizing: border-box;
}
header, footer{
    width: 100%;
    height: 100px;
    clear: both;
    border: 1px solid black;
}
section{
    width: 33.3333%;
    height: 600px;
    border: 1px solid black;
    float: left;
}
@media screen and (max-width: 33.3333%){
    #firstOne{
        width: 100%;
    }
}
@media (min-width: 33.3334%) and (max-width: 66.6666){
    #firstOne, #secondOne{
        width: 50%;
    } 
}
@media (min-width: 66.6667%) and (max-width: 100%){
    #firstOne, #secondOne, #thirdOne{
        width: 33.3333%;
        background-color: blue;
    }
}